<div class="bg-gray">
    <div class="container bg-white">
        <div class="search_wrap row">
            <!-- searchPanel部分 -->
            <div class="search_panel_wrap hidden-xs hidden-sm">
                <div class="search_panel" ng-repeat="li in vm.list track by $index">
                    <!-- 一级类目 -->
                    <p><span></span>{{li.jobType|jobTypeFilter}}
                        <i class="arrow pull-right"></i></p>
                    <!-- 二级类目 -->
                    <div class="panel_occupation">
                        <span ui-sref="field.searchMain.searchJob({type:item.secondType})" ng-repeat="item in li.jobTypeList track by $index">{{item.secondType|secondTypeFilter}}</span>
                    </div>
                    <!-- 三级类目 -->
                    <div class="search_panel_detail" ng-repeat="item in li.jobTypeList track by $index">
                        <p class="occupation_box" ng-repeat="item in li.jobTypeList track by $index">
                            <span>{{item.secondType|secondTypeFilter}}</span>
                            <span ui-sref="field.searchMain.searchJob({type:item.secondType,subType:subItem.thirdType})" ng-repeat="subItem in item.secondTypeList track by $index">{{subItem.jobName}}</span>
                        </p>
                    </div>
                </div>
            </div>
            <!--searchCompany部分-->
            <div class="nav_search">
                <form class="search_bar_wrap">
                    <div class="search_bar input-group">
                        <label class="input-group-addon hidden-xs font-16">公司名称</label>
                        <input class="form-control" type="text" placeholder="请输入公司名称" ng-model="vm.searchParams.jobName">
                        <div class="search-wrap input-group-addon ">
                            <button type="button" ui-sref="field.searchMain.searchCompany({name:vm.searchParams.jobName})">搜索
                            </button>
                        </div>
                    </div>
                </form>
                <!-- 轮播图 -->
                <div class="findJob-top-carousel">
                    <div id="findJob-top-carousel" class="carousel slide findJob-top-carousel" data-ride="carousel">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner findJob-top-carousel" role="listbox">
                            <div class="item"
                                 ng-repeat="findJobArticle in vm.findJobArticle.data.articleList track by $index"
                                 ng-class="{'active':$first}">
                                <img src={{findJobArticle.img}} alt="" href={{findJobArticle.url}}>
                            </div>
                        </div>
                        <!-- Controls -->
                        <a class="left carousel-control carousel-butten" href="#findJob-top-carousel" role="button"
                           data-slide="prev"
                           onclick="return false">
                            <span aria-hidden="true"><img src="../images/pre-2.png" alt=""></span>
                        </a>
                        <a class="right carousel-control carousel-butten" href="#findJob-top-carousel" role="button"
                           data-slide="next"
                           onclick="return false">
                            <span aria-hidden="true"><img src="../images/next-2.png" alt=""></span>
                        </a>
                        <!-- 轮播（Carousel）指标 -->
                        <ol class="carousel-indicators">
                            <li class="mg-left-right-10" data-target="#findJob-top-carousel" data-slide-to={{$index}}
                                ng-repeat="homeArticle in vm.findJobArticle.data.articleList track by $index"
                                ng-class="{'active':$first}"></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <!--推荐职位、最新职位-->
        <div class="newTitle row">
            <div class="col-xs-6">
                <span ng-class="{'title-active':!vm.isChoose}" ng-click="exchangeJob(!vm.isChoose)">推荐职位</span>&nbsp;
                <span ng-class="{'title-active':vm.isChoose}" ng-click="exchangeJob(vm.isChoose)">最新职位</span>
            </div>
            <div class="col-xs-6 text-right"><span class="showMore" ui-sref="field.jobList">查看更多&gt</span></div>
        </div>
        <!-- 推荐职位 -->
        <div class="new_job_wrap row" ng-if="!vm.isChoose">
            <div class="findjob-list">
                <div class="col-xs-12 col-md-6 col-lg-3 pd-0" ng-repeat="x in vm.newJobList.data track by $index">
                    <div class="findjob-list-box" ui-sref="field.jobDescription({id:x.id})">
                        <div class="img-box">
                            <img src="{{x.logo}}" class="img-response">
                        </div>
                        <div class="findjob-list-text word-limit">
                            <span class="wage">{{x.compensation|compensationFilter}}</span>
                            <br> {{x.name}}
                            <br> {{x.companyName}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 最新职位 -->
        <div class="new_job_wrap row" ng-if="vm.isChoose">
            <div class="findjob-list">
                <div class="col-xs-12 col-md-6 col-lg-3 pd-0" ng-repeat="x in vm.recommendJobList.data track by $index">
                    <div class="findjob-list-box" ui-sref="field.jobDescription({id:x.id})">
                        <div class="img-box">
                            <img src="{{x.logo}}" class="img-response">
                        </div>
                        <div class="findjob-list-text word-limit">
                            <span class="wage">{{x.compensation|compensationFilter}}</span>
                            <br> {{x.name}}
                            <br> {{x.companyName}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 推荐公司 -->
        <div class="row newTitle">
            <div class="bg-grey ">
                <span class="text-active padding-lr-15px font-16">推荐公司</span>
                <a href="#" ui-sref="field.searchMain.searchCompany"
                   ng-class="{navChoice: $state.includes('field.searchMain.searchCompany')}"
                   class=" text-right more-hover pull-right padding-lr-15px font-12">查看更多&nbsp;>
                    <!--<span class="glyphicon glyphicon-chevron-right"></span>-->
                </a>
            </div>
        </div>
        <div class="row">
            <div class="recommend-company-wrap">
                <div class="col-md-4 col-xs-12 "
                     ng-class="{navChoice: $state.includes('field.company.home')}">
                    <img src="{{vm.industryImg.industryImg}}" class="pointer findJob-recommend-img " ui-sref="field.companyMain.companyHome({id:vm.industryImg.id})">
                    <div class="recommend-company-text">
                        <p class="color-white word-length-limit">{{vm.industryImg.name}}</p>
                        <p class="color-white word-limit">{{vm.industryImg.slogan}}</p>
                        <div class="recommend-company-item word-length-limit">
                            <span class="word-length-limit"><img src="images/phone-url-white.png">{{vm.industryImg.industryId|industryFilter}}</span>
                            <span class="word-length-limit"><img src="images/shangshi-white.png">{{vm.industryImg.financing|financingFilter}}</span>
                            <span class="word-length-limit"><img src="images/location-white.png">{{vm.industryImg.province|provinceFilter}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-xs-12 findJob-recommend-logoBox">
                    <div ng-class="{navChoice: $state.includes('field.companyMain.companyHome')}"
                         class="middle-img-box findJob-recommend-logo"
                         ng-repeat="x in vm.normalCompanyList track by $index">
                        <span></span>
                        <img src={{x.logo}} alt=""
                             class="img-responsive"
                             ui-sref="field.companyMain.companyHome({id:x.id})">
                    </div>
                </div>
                <upcarousel></upcarousel>
            </div>
        </div>
        <!-- 简介 -->
        <div class="row findjob-introduce-wrap">
            <div class="findjob-introduce-box1">
                <div class="col-xs-12 col-sm-6 findjob-box-left">
                    <img src="../images/zjy-1fengxian.png" class="img-responsive">
                </div>
                <div class="col-xs-12 col-sm-6 findjob-box-right">
                    <h3><strong>无成本，零风险</strong></h3>
                    <p>无任何隐含费用全程免费</p>
                    <p>人才从投递到成功入职不需要任何费用，通过测试 后还可免费提供从业建议，不浪费每一分天赋。</p>
                </div>
            </div>
            <div class="findjob-introduce-box2">
                <div class="col-xs-12 col-sm-6 findjob-box-left">
                    <h3><strong>高效匹配，高度契合</strong></h3>
                    <p>1-3天发送首个聘请通知
                        <br> 甄选职位 深度匹配 发送聘请通知
                    </p>
                    <p>
                        3-5天安排候选人面试
                        <br> 安排面试 协助客户快速入职
                    </p>
                    <p>
                        平均一周内推荐成功
                        <br> 多方洽谈 售后服务
                    </p>
                </div>
                <div class="col-xs-12 col-sm-6 findjob-box-right">
                    <img src="../images/zjy-youxuan2.png" class="img-responsive">
                </div>
            </div>
        </div>
        <!--底部-->
        <div class="row">
            <div class="col-xs-12 pd-0">
                <img src="../images/job-bottom-img.png" alt="" class="img-responsive">
            </div>
        </div>
    </div>
</div>
