<link rel="stylesheet" href="../styles/findJob.css">
<main class="bg-gray">
    <div ui-view>
        <div class="row">
            <!-- searchPanel部分 -->
            <div class="search_panel_wrap">
                <div class="search_panel hidden-xs hidden-sm">
                    <h4><span></span>用户体验<img src="../images/findJobArrow.png"></h4>
                    <ul class="panel_occupation">
                        <li>产品</li>
                        <li>UI</li>
                        <li>QA</li>
                    </ul>
                    <div class="search_panel_detail">
                        <ul>
                            <li>
                                <span class="occupation_item">助理</span>
                                <span class="occupation_item">初级</span>
                                <span class="occupation_item">中级</span>
                                <span class="occupation_item">高级</span>
                                <span class="occupation_item">总监</span>
                            </li>
                            <li>
                                <span class="occupation_item">UI</span>
                                <span class="occupation_item">初级</span>
                                <span class="occupation_item">中级</span>
                                <span class="occupation_item">高级</span>
                                <span class="occupation_item">总监</span>
                            </li>
                            <li>
                                <span class="occupation_item">QA</span>
                                <span class="occupation_item">初级</span>
                                <span class="occupation_item">中级</span>
                                <span class="occupation_item">高级</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="search_panel hidden-xs hidden-sm">
                    <h4><span></span>研发<img src="../images/findJobArrow.png"></h4>
                    <ul class="panel_occupation">
                        <li>Android</li>
                        <li>IOS</li>
                        <li>WEB</li>
                        <li>OP</li>
                        <li>JAVA</li>
                    </ul>
                </div>
                <div class="search_panel hidden-xs hidden-sm">
                    <h4><span></span>大数据<img src="../images/findJobArrow.png"></h4>
                    <ul class="panel_occupation">
                        <li>NLP</li>
                        <li>DM</li>
                        <li>DL</li>
                    </ul>
                </div>
            </div>
            <!--searchCompany部分-->
            <div class="nav_search">
                <form class="search_bar_wrap">
                    <div class="search_bar input-group">
                        <label class="input-group-addon hidden-xs">公司名字</label>
                        <input class="form-control" type="text" placeholder="请输入公司名称" ng-model="vm.companyName">
                        <div class=" search-btn input-group-addon ">
                            <button type="button" ui-sref="searchMain.searchCompany({'name':vm.companyName})">搜索
                            </button>
                        </div>
                    </div>
                </form>
                <img src="../images/job_carousel_img-1.png">
            </div>
        </div>
        <div class="row">
            <div class="title">
                <div class="col-xs-6 "><span>推荐职位</span><span>最新职位</span></div>
                <div class="col-xs-6 text-right" ui-sref="">查看更多&gt</div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3" ng-repeat="|limitTo:8"></div>
        </div>
        <div class="row">
            <div class="title">
                <div class="col-xs-6 "><span>推荐公司</span></div>
                <div class="col-xs-6 text-right" ui-sref="">查看更多&gt</div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3"></div>
            <div class="col-xs-12 col-md-6 col-lg-3"></div>
            <div class="col-xs-12 col-md-6 col-lg-3"></div>
            <div class="col-xs-12 col-md-6 col-lg-3"></div>
        </div>
    </div>
</main>
