
<!-- 首页banner图 -->
<div>
</div>

<!-- 简单介绍 -->
<div class="home-introduce">
    <div class="container">
        <div class="row text-center">
            <div class=" col-md-3  introduce-tag">
                <div class="home-img"><img src="../images/jianjie-1.png" alt=""></div>
                <p class="home-introduce-font">超短相应时间</p>
                <p>48小时高效推荐</p>
            </div>
            <div class=" col-md-3  introduce-tag">
                <div class="home-img"><img src="../images/jianjie-2.png" alt=""></div>
                <p class="home-introduce-font">行业1/3的价格</p>
                <p>成功推荐仅收费1月工资</p>
            </div>
            <div class=" col-md-3  introduce-tag">
                <div class="home-img"><img src="../images/jianjie-3.png" alt=""></div>
                <p class="home-introduce-font">三维的人才评测</p>
                <p>技术人事背景三维评定</p>
            </div>
            <div class=" col-md-2 home-introduce-text">
                <div>
                    <p class="introduce-text-font">5家</p>
                    <p>信赖公司</p>
                </div>
                <div>
                    <p class="introduce-text-font">1500+</p>
                    <p>人才库</p>
                </div>
                <div>
                    <p class="introduce-text-font">200+</p>
                    <p>人才入职</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 最新职位 -->
<!-- 服务流程 -->
<div>
    <div class="home-section-title">
        <p class="home-section-font">服务流程 </p>
        <div class="home-section-line"></div>
        <p> SERVICE FLOW</p>
    </div>
    <div class="container">
        <div class="row text-center home-service-main">
            <div class="col-md-offset-1 col-md-2 col-xs-12 home-step">
                <div>
                    <img src="../images/flow-path1.png" class="img-responsive home-service-img">
                    <p class="home-service-text">1.意向洽谈，深入评审</p>
                </div>
            </div>
            <div class="col-md-2 home-service-arrow">
                <img src="../images/arrow.png">
            </div>
            <div class="col-md-2 col-xs-12 home-step">
                <div>
                    <img src="../images/flow-path2.png" class="img-responsive home-service-img">
                    <p class="home-service-text">2.确认合作，签订合同</p>
                </div>
            </div>
            <div class="col-md-2 home-service-arrow">
                <img src="../images/arrow.png">
            </div>
            <div class="col-md-2 col-xs-12 home-step">
                <div>
                    <img src="../images/flow-path3.png" class="img-responsive home-service-img">
                    <p class="home-service-text"> 3.提出需求，提供jd</p>
                </div>
            </div>
        </div>
        <div class="row text-center home-service-main">
            <div class="col-md-offset-1 col-md-2  col-xs-12 home-step">
                <div>
                    <img src="../images/flow-path4.png" class="img-responsive home-service-img">
                    <p class="home-service-text">4.开始招聘，人才精选</p>
                </div>
            </div>
            <div class="col-md-2 home-service-arrow">
                <img src="../images/arrow.png">
            </div>
            <div class="col-md-2 col-xs-12 home-step">
                <div>
                    <img src="../images/flow-path5.png" class="img-responsive home-service-img">
                    <p class="home-service-text">5.人才评测，简历脱水</p>
                </div>
            </div>
            <div class="col-md-2 home-service-arrow">
                <img src="../images/arrow.png">
            </div>
            <div class="col-md-2 col-xs-12 home-step">
                <div>
                    <img src="../images/flow-path6.png" class="img-responsive home-service-img">
                    <p class="home-service-text"> 6.上岗，转入售后</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 伙伴之言 -->
 <div class="home-comment bg-f7">
    <div class="home-section-title ">
        <p class="home-section-font">伙伴之言</p>
        <div class="home-section-line"></div>
        <p> PARTNER ADVICE</p>
    </div>
    <div class="container friend-box">
        <!-- 伙伴之言轮播 -->
        <jqcarouse></jqcarouse>
    </div>

</div> 