<div class="row jobDescription-wrap">
    <div class="col-xs-12 col-md-8 jobDescription-msg">
        <div class="jobDescription-introduce">
            <h4>{{vm.jobDescription.name}}</h4>
            <p class="jobDescription-text1">{{vm.jobDescription.companyName}}</p>
            <p class="jobDescription-keywords">
                <span class="jobDescription-text2">8K-15K</span>&emsp;
                <span><img src="../images/location-jobdescripe.png">北京市</span>&emsp;
                <span><img src="../images/description-2.png">本科</span>&emsp;
                <span><img src="../images/description-1.png">1~2年</span>
            </p>
            <p class="company-welfare">
                <span>周末双休</span>
                <span>五险一金</span>
                <span>交通补助</span>
                <span>话补</span>
                <span>节日礼金</span>
                <span>年度旅游</span>
            </p>
            <p class="jobDescription-text3">
                <img src="../images/date.png" alt="">
                发布时间：{{vm.jobDescription.updateAt|date:"yyyy-MM-dd HH:mm"}}</p>
        </div>
        <!--公司详情-->
        <div class="jobDescription-detail">
            <h4>职位描述</h4>
            <p>岗位职责</p>
            <ul>
                <li>1、链接中型以上第三方财富管理机构产品总监，引进优质金融产品</li>
                <li>2、链接各大金融机构项目经理，引进阳光私募、信托、资管等金融产品</li>
                <li>3、链接第三方财富管理机构，进行产品路演、推介，助理销售工作</li>
            </ul>
            <p>必要条件</p>
            <ul>
                <li>1、2年以上金融领域相关从业经验</li>
                <li>2、大学本科以上学历，硕士或MBA优先</li>
                <li>3、具有较强的风险意识和风险识别能力</li>
                <li>4、具有较强的团队协调与合作能力及较强的自我心理调解能力，能够承受较大工作压力</li>
            </ul>
            <p>公司福利</p>
            <ul>
                <li>1、周末双休、五险一金、交通补助、话补</li>
                <li>2、大学本科以上学历，硕士或MBA优先</li>
                <li>3、具有较强的风险意识和风险识别能力</li>
                <li>4、具有较强的团队协调与合作能力及较强的自我心理调解能力，能够承受较大工作压力</li>
            </ul>
        </div>
    </div>
    <!--公司基本信息-->
    <div class="col-xs-12 col-md-4 company-msg">
        <img src="{{vm.jobDescription.logo}}" alt="" class="img-responsive">
        <h4 class="text-center"><a ui-sref="field.findJob">{{vm.jobDescription.companyName}}
        <img src="../images/company-home-1.png" alt=""></a></h4>
        <p class="text-center base-msg">基本信息<span class="sidebar-split-line"></span></p>
        <p class="text-center industry"><img src="../images/people.png">&emsp;100人</p>
        <p class="text-center industry"><img src="../images/company-home-3.png">&emsp;移动互联网/金融</p>
    </div>

    <!--分享-->
    <div class="col-xs-6 job-share-box">
        <img class="dis-none" src="../images/sharing.png" alt="">
        <span class="dis-none">分享</span>
        <div class="sharebuttonbox">
            <a class="s_weixin" data-toggle="collapse"
               data-target="#code-box"
               ng-click="vm.share('weixin')"></a>
            <a class="s_sqq" ng-click="vm.share('sqq')"></a>
            <a class="s_tsina" ng-click="vm.share('tsina')"></a>
        </div>
        <div class="code-box collapse" id="code-box">
            <span class="code-box-close" data-toggle="collapse"  data-target="#code-box">&times;</span>
            <div class="code-box-header">分享到微信朋友圈</div>
            <img src="http://pan.baidu.com/share/qrcode?w=150&h=150&url={{vm.url}}" alt="">
            <div class="code-box-footer">
                打开微信，点击底部的“发现”，
                使用“扫一扫”即可将网页分享至朋友圈。
            </div>
        </div>
    </div>
    <div class="col-xs-2 text-right interesting">
        <button>我感兴趣</button>
    </div>
</div>