<div class="col-xs-12 col-sm-6 col-md-4">
<div class="searchCompany-box" ui-sref="field.companyDescription({})">
	<div class="searchCompany-card">
        <div class="img-box">
            <img src="../images/company-logo.jpg" alt="" class="img-responsive">
        </div>
        <div class="company-content">
            <p class="company-content-text companyName">盈泰财富云</p>
            <p class="company-content-text word-limit">盈泰财富云，互联网+财富管理，中国三方财富管理行业最佳运营服务商，互联网产品有私募云App和云台系统</p>
            <p class="company-content-text"><span class="word-red">10</span>个在招职位</p>
        </div>
    </div>
    <div class="company-welfare">
    	<span class="word-limit"><img src="../images/phone-url.png">移动互联网53454</span>
    	<span class="word-limit"><img src="../images/location-company.png">移动互联网345345</span>
    	<span class="word-limit"><img src="../images/shangshi.png">移动互联网3552</span>
    </div>
</div>
</div>
<div class="col-xs-12 col-sm-6 col-md-4">
    <div class="searchCompany-box" ui-sref="field.companyDescription({})">
        <div class="searchCompany-card">
            <div class="img-box">
                <img src="../images/company-logo.jpg" alt="" class="img-responsive">
            </div>
            <div class="company-content">
                <p class="company-content-text companyName">盈泰财富云</p>
                <p class="company-content-text word-limit">盈泰财富云，互联网+财富管理，中国三方财富管理行业最佳运营服务商，互联网产品有私募云App和云台系统</p>
                <p class="company-content-text"><span class="word-red">10</span>个在招职位</p>
            </div>
        </div>
        <div class="company-welfare">
            <span class="word-limit"><img src="../images/phone-url.png">移动互联网</span>
            <span class="word-limit"><img src="../images/location-company.png">移动互联网</span>
            <span class="word-limit"><img src="../images/shangshi.png">移动互联网</span>
        </div>
    </div>
</div>
<div class="col-xs-12 col-sm-6 col-md-4"">
    <div class="searchCompany-box" ui-sref="field.companyDescription({})">
        <div class="searchCompany-card">
            <div class="img-box">
                <img src="../images/company-logo.jpg" alt="" class="img-responsive">
            </div>
            <div class="company-content">
                <p class="company-content-text companyName">盈泰财富云</p>
                <p class="company-content-text word-limit">盈泰财富云，互联网+财富管理，中国三方财富管理行业最佳运营服务商，互联网产品有私募云App和云台系统</p>
                <p class="company-content-text"><span class="word-red">10</span>个在招职位</p>
            </div>
        </div>
        <div class="company-welfare">
            <span class="word-limit"><img src="../images/phone-url.png">移动互联网</span>
            <span class="word-limit"><img src="../images/shangshi.png">A轮</span>
            <span class="word-limit"><img src="../images/location-company.png">北京市</span>
        </div>
    </div>
</div>
<div class="col-xs-12 col-sm-6 col-md-4">
    <div class="searchCompany-box" ui-sref="field.companyDescription({})">
        <div class="searchCompany-card">
            <div class="img-box">
                <img src="../images/company-logo.jpg" alt="" class="img-responsive">
            </div>
            <div class="company-content">
                <p class="company-content-text companyName">盈泰财富云</p>
                <p class="company-content-text word-limit">盈泰财富云，互联网+财富管理，中国三方财富管理行业最佳运营服务商，互联网产品有私募云App和云台系统</p>
                <p class="company-content-text"><span class="word-red">10</span>个在招职位</p>
            </div>
        </div>
        <div class="company-welfare">
            <span class="word-limit"><img src="../images/phone-url.png">移动互联网</span>
            <span class="word-limit"><img src="../images/location-company.png">移动互联网</span>
            <span class="word-limit"><img src="../images/shangshi.png">移动互联网</span>
        </div>
    </div>
</div>

