<div class="col-xs-12" ui-sref="field.jobDescription({})">
    <div class="searchJob-box">
        <div class="searchJob-card">
            <div class="job-introduce">
                <p class="occupation">
                前端开发工程师&emsp;
                <span class="datetime">发布时间:18:30</span>
                </p>
                <p class="word-red">8K~15K</p>
                <p class="experience">北京市-东城区/本科/1~2年</p>
            </div>
            <div class="company-introduce">
                <div class="company-introuduce-text">
                    <p class="companyName">北京快校科技有限公司</p>
                    <p class="companyType">
                    <span>移动互联网</span>
                    <span>教育</span></p>
                    <p class="comopanyTag">
                    <span>发展空间大</span>
                    <span>年轻的团队</span>
                    </p>
                </div>
                <div class="img-box">
                    <img src="../images/company-logo.jpg" class="img-responsive">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-12" ui-sref="field.jobDescription({})">
    <div class="searchJob-box">
        <div class="searchJob-card">
            <div class="job-introduce">
                <p class="occupation">
                前端开发工程师&emsp;
                <span class="datetime">发布时间:18:30</span>
                </p>
                <p class="word-red">8K~15K</p>
                <p class="experience">北京市-东城区/本科/1~2年</p>
            </div>
            <div class="company-introduce">
                <div class="company-introuduce-text">
                    <p class="companyName">北京快校科技有限公司</p>
                    <p class="companyType">
                    <span>移动互联网</span>
                    <span>教育</span></p>
                    <p class="comopanyTag">
                    <span>发展空间大</span>
                    <span>年轻的团队</span>
                    </p>
                </div>
                <div class="img-box">
                    <img src="../images/company-logo.jpg" class="img-responsive">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-12" ui-sref="field.jobDescription({})">
    <div class="searchJob-box">
        <div class="searchJob-card">
            <div class="job-introduce">
                <p class="occupation">
                前端开发工程师&emsp;
                <span class="datetime">发布时间:18:30</span>
                </p>
                <p class="word-red">8K~15K</p>
                <p class="experience">北京市-东城区/本科/1~2年</p>
            </div>
            <div class="company-introduce">
                <div class="company-introuduce-text">
                    <p class="companyName">北京快校科技有限公司</p>
                    <p class="companyType">
                    <span>移动互联网</span>
                    <span>教育</span></p>
                    <p class="comopanyTag">
                    <span>发展空间大</span>
                    <span>年轻的团队</span>
                    </p>
                </div>
                <div class="img-box">
                    <img src="../images/company-logo.jpg" class="img-responsive">
                </div>
            </div>
        </div>
    </div>
</div>
