<div class="row search-box">
    <div class="form-group">
        <label for="" class="choiceName">关键字:</label>
        <input type="text" name="" class="keyWord" placeholder="输入职位关键词：如产品经理等" maxlength="24" ng-model="vm.data.name"> 当前关键字：{{vm.data.name}}
    </div>
    <div class="form-group mar-12">
        <label for="" class="choiceName">所在地区:</label>
        <button ng-class="{true:'defaultChoice'}[a.choose]" ng-click="vm.checkboxMulti($index,vm.option.province)" ng-repeat="a in vm.option.province track by $index">{{a.name}}</button>
    </div>
    <div class="form-group mar-12">
        <label for="" class="choiceName">职位类别:</label>
        <button ng-class="{true:'defaultChoice'}[a.choose]" ng-click="vm.checkboxMulti($index,vm.option.category);vm.selectSubCategoryFn($index,a.choose)" ng-repeat="a in vm.option.category track by $index">{{a.name}}</button>
    </div>
    <div class="form-group mar-12">
        <label for="" class="choiceName"  data-type="type">所属行业:</label>
        <button ng-class="{true:'defaultChoice'}[a.choose]" ng-click="vm.checkboxMulti($index,vm.option.industry)" ng-repeat="a in vm.option.industry track by $index">{{a.name}}</button>
    </div>
    <div class="form-group mar-12">
        <label for="" class="choiceName">学历要求:</label>
        <button ng-class="{true:'defaultChoice'}[a.choose]" ng-click="vm.checkboxMulti($index,vm.option.education)" ng-repeat="a in vm.option.education track by $index">{{a.name}}</button>
    </div>
    <div class="form-group mar-12">
        <label for="" class="choiceName">工作经验:</label>
        <button ng-class="{true:'defaultChoice'}[a.choose]" ng-click="vm.checkboxMulti($index,vm.option.experience)" ng-repeat="a in vm.option.experience track by $index">{{a.name}}</button>
    </div>
    <div class="form-group mar-12">
        <label for="" class="choiceName">薪资水平:</label>
        <button ng-class="{true:'defaultChoice'}[a.choose]" ng-click="vm.checkboxMulti($index,vm.option.compensation)" ng-repeat="a in vm.option.compensation track by $index">{{a.name}}</button>
    </div>
    <div class="form-group mar-12">
        <label for="" class="choiceName">发布时间:</label>
        <button ng-class="{true:'defaultChoice'}[a.choose]" ng-click="vm.radioType($index,vm.option.updateAt)" ng-repeat="a in vm.option.updateAt track by $index">{{a.name}}</button>
    </div>
    <div class="search-btn ">
        <button class="begin-search pull-right" ng-click="vm.search()">搜索</button>
        <button class="clear-search pull-right" ng-click="vm.clear()">清空</button>
    </div>
</div>
<div class="row view">
    <div class="col-xs-12" ng-repeat="item in vm.searchJob.data track by $index">
        <div class="searchJob-box">
            <div class="searchJob-card" ui-sref="field.jobDescription({id:item.id})">
                <div class="job-introduce">
                    <p class="occupation">
                        {{item.name}}&emsp;
                        <span class="datetime">发布时间:{{item.updateAt|updateAtFilter}}</span>
                    </p>
                    <p class="word-red">{{item.compensation|compensationFilter}}</p>
                    <p class="experience">{{item.city|cityFilter}}-{{item.county|countyFilter}} /{{item.education|educationFilter}} /{{item.experience|experienceFilter}}</p>
                </div>
                <div class="company-introduce">
                    <div class="company-introuduce-text">
                        <p class="companyName">{{item.companyName}}</p>
                        <p class="companyType">
                            <span ng-repeat="type in item.industryList track by $index">{{type.industry|industryFilter}}</span>
                        </p>
                        <p class="comopanyTag">
                            <span ng-repeat="tag in item.tags track by $index">{{tag.tag}}</span>
                        </p>
                    </div>
                    <div class="img-box">
                        <img src={{item.logo}} class="img-responsive">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
