<!--顶部边栏-->
<div class="search-top bg-gray">
    <div class="container bg-white">
        <div class="row toggleSearch">
            <button ui-sref="field.searchMain.searchCompany" ng-class="{'search-btn':currentState.includes('field.searchMain.searchCompany')}">公司</button>
            <button ui-sref="field.searchMain.searchJob" ng-class="{'search-btn':currentState.includes('field.searchMain.searchJob')}">职业</button>
        </div>
    </div>

    <!--主题内容-->
    <div ui-view="" class="mar-20">


    </div>
</div>