<!--顶部边栏-->
<div class="search-top bg-gray">
    <div class="container bg-white">
        <div class="row toggleSearch">
            <button ng-class="{'search-btn':$state.includes('field.searchMain.searchCompany')}"       ui-sref="field.searchMain.searchCompany">公司</button>
            <button ng-class="{'search-btn':$state.includes('field.searchMain.searchJob')}"   ui-sref="field.searchMain.searchJob">职业</button>
        </div>
    </div>

    <!--主题内容-->
    <div ui-view="" class="mar-20">


    </div>
</div>