.elite-main {
    overflow: hidden;
}

.elite-title {
    width: 100%;
    background-color: #f6f7f8;
    padding: 0;
}

.elite-banner {
    width: 100%;
    background-color: #F6F7F9;
}

/*介绍部分*/
@media screen and (min-width: 768px) {
    .elite-introduction-section {
        background-color: #fff;
        margin: 0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        height: 400px;
    }

    .elite-introduction-section .elite-picture-box-top {
        margin: 100px 60px;
        max-width: 400px;
    }

    .elite-introduction-section .elite-picture-box-middle {
        margin: 70px 80px;
        max-width: 400px;
    }

    .elite-introduction-section .elite-picture-box-bottom {
        margin: 70px 30px;
        max-width: 400px;
    }

    .elite-introduction-section .elite-text-box {
        margin: 108px 40px;
        max-width: 278px;
    }

    .text-middlebox-margin {
        margin-left: 20px;
    }
}

@media screen and (max-width: 767px) {
    .elite-introduction-section {
        text-align: center;
        padding: 60px 0;

    }

    .elite-text-box {
        margin-top: 30px;
        padding: 0 30px;
    }

    .reverse-order {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }

    .order {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
    }
}

.elite-service-procedure {
    margin: 0 auto;
    background-color: #F6F7F9;
}

@media screen and (min-width: 768px) {
    .elite-picture-box {
        width: 30%;
    }

    .elite-text-box {
        width: 30%;
    }
}

@media screen and (max-width: 768px) {
    .elite-picture-box img {
        width: auto !important;
    }
}

.elite-picture-box img {
    width: auto;
    display: block;
    margin: 0 auto;

}

.elite-text-box-new {
    width: 30%;
    margin: 5rem 0 0 5rem;
}

.elite-big-size {
    font-size: 24px;
    font-weight: bold;
    color: #2d3e50;
    margin-bottom: 20px;
}

.elite-middle-size {
    font-size: 16px;
    color: #536a82;
    margin-bottom: 15px;
}

.elite-little-size {
    font-size: 14px;
    color: #536a82;
    margin-bottom: 14px;
}

.elite-line-null {
    margin: 0 40px 10px 40px;
    display: inline-block;
    height: 2px;
    width: 10%;
    background-color: black;
}

.elite-service-title {
    display: inline-block;
    font-size: 3.6rem;
    font-weight: 700;
}

.elite-service-picture {
    width: 50%;
    height: 8rem;
    margin: 3rem auto;
    border: 1px solid;
}

.elite-explain {
    padding: 1rem .7rem;
    border-bottom: 1px solid;
    background-color: #fff;
}

.elite-case-text {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
}

.elite-moreCompany {
    cursor: pointer;
    padding: 16px 42px;
    background-color: #fc2a48;
    margin: 15px 0 30px 0;
    border: none;
    color: #ffffff;
    border-radius: 5px;
    font-size: 16px;
}

@media screen and (min-width: 992px) {
    .elite-text-box-new {
        text-align: left;
        max-width: 30%;
        margin-top: 30px;
    }
}

/*二级标题*/
.elite-section-title {
    text-align: center;
    padding: 80px 0 30px 0;
    font-weight: 600;
    display: block;

}

.elite-advantage-text {
    line-height: 30px;
    padding: 1rem;
    font-size: 16px;
    color: #2d3e50;
}

.elite-title-text {
    display: inline-block;
    text-align: center;
    color: #21435F;
    font-size: 25px;
    margin-bottom: 0;

}

.elite-title-line {
    height: 2px;
    width: 30px;
    background-color: #fc2b47;
    margin: 4px auto;
}

.elite-section-title:hover .width5 {
    width: 10%;
}

.elite-section-title:hover .width8 {
    width: 18%;
}

/*服务流程*/
@media screen and (max-width: 767px) {
    .elite-procedure-text {
        margin: 30px 0;
    }
}

@media screen and (min-width: 768px) {
    .elite-procedure-text {
        -ms-flex-line-pack: center;
        align-content: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding-top: 24px;
        text-align: justify;
    }
}

.elite-procedure-img {
    height: 79px;
    width: 1px;
    position: relative;
    margin: 0 auto;
    border-left: 1px dashed #f6d2d8;
}

.elite-procedure-img img {
    position: absolute;
    top: 30px;
    left: -9px;
}

.elite-success-logo {
    padding: 20px;
}

.success-logo-box {
    width: 258px;
    height: 178px;
    background-color: #fff;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    margin: 0 auto;
    cursor: pointer;
}

.success-logo-box img {
    max-width: 90%;
    max-height: 100%;
    vertical-align: middle;
}

.success-logo-box > span {
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}