.bg-gray{
    background-color: #F6F7F8;
}
.jobDescription-wrap{
    overflow: hidden;
    padding: 40px 16px 0 18px;
    margin-bottom:24px;
    background-color: white;
}
.jobDescription-msg{
    border-right:4px solid #f4f4f4;
}
.jobDescription-wrap span,img{
    display: inline-block;
    vertical-align: middle;
}
.jobDescription-wrap h4{
    font-size: 16px;
    font-weight:bold;
}
.jobDescription-keywords{
    color: #566D84;
}
.jobDescription-keywords > span {
    margin-right: 10px;
}

.jobDescription-keywords > span > img {
    margin-right: 10px;
    margin-bottom: 4px;
}
.jobDescription-text1{
    padding-bottom: 10px;
    color:#8a98a7;
}
.jobDescription-text2{
    color:#fc2a48;
}
.jobDescription-text3{
    padding-bottom:20px;
    border-bottom:1px solid #f6f7f8;
    font-size: 12px;
    color:#8a98a7;
}
.jobDescription-text3 img{
    margin:0 2px 1px 0;
}
.company-welfare{
    max-width:450px;
}
.company-welfare span{
    /*margin:7px 16px 7px 0;*/
    border: 1px solid #f2f2f2;
    border-radius:12px;
    width:70px;
    line-height: 20px;
    color:#a3aebb;
    text-align: center;
    font-size: 12px;
}
.jobDescription-detail-box{
    padding-bottom: 40px;
    border-bottom:1px solid #f6f7f8;
    line-height:24px;
    color:#536A82;
    font-size:14px;
}
.jobDescription-detail-box>h4{
    margin-top:24px;
    margin-bottom:10px;
    padding-left:10px;
    border-left:4px solid #fc2b47;
    line-height: 120%;
    color:black;
    font-size:16px;
}
.jobDescription-detail-box .descriptionDetail{
    padding-bottom: 24px;
    background-color: white;
    border: none;
    color:#536A82;
    font-size:14px;
    font-family: "Microsoft Yahei";
    white-space: pre-wrap;
    word-wrap: break-word;
}
.company-msg>img{
    margin: 0 auto;
    max-width: 149px;
    border: 1px solid #e8e8e8;
}
.company-msg>h4{
    padding: 18px 0 36px;
}
.company-msg>h4 img{
    margin:0 2px 5px 0;
}
.base-msg{
    padding-left: 14%;
    margin-bottom:18px;
    font-size: 16px;
    color:#728497;
}
.industryContent{
    padding-left: 25%;
    margin:30px 0;
}
.sidebar-split-line{
    margin:0 0 4px 20px;
    border-top:1px solid #E8E8E8;
    width: 45%;
}
.job-share-box{
    line-height:90px;
}
.interesting button{
    border:none;
    outline: none;
    width: 132px;
    height:40px;
    margin: 25px 0;
    border-radius:4px;
    background-color: #fc2b47;
    color:white;
    text-align: center;
}
@media screen and (max-width:767px){
    .company-msg{
        margin-top:24px;
    }
}
/*模态窗口*/
.modal-header-style {
    background-color: #FC2A48;
    color: white;
    font-size: 18px;
    padding: 12px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
div.model-main{
    margin-top:0;
    width: auto;
    height:auto;
}
.modal-content p{
    font-weight:normal;
    line-height:1.428;
}
.modal-close-style {
    color: white;
    opacity: 1;
    margin-top: 0 !important;
}

.modal-body-title {
    color: #333333;
    font-size: 16px;
}
.modal-content p.modal-title{
    font-size: 18px;
    line-height: 1.428;
}
.modal-body-content {
    color: #666666;
    font-size: 14px;
    text-align: justify;
}

.modal-btn-style, .modal-btn-style:focus {
    background-color: #fc2b47;
    color: white;
    width: 18%;
    min-width: 90px;
    height: 40px;
    float: right;
    border: none;
    border-radius: 5px;
    position: relative;
    z-index: 10;
    outline: none;
}

