
.middle-img-box img {
    width: 98%;
}

.now-title {
    display: block;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    padding: 0 0 5px 20px;
    background-color: #F6F7F8;
    margin-bottom: 0;
}
.search-content .right-company-box{
    display: flex;
    align-items: center;
}

@media screen and (max-width: 435px){
    .search-content .middle-img-box{
        display: none;
    }
}

