.bg-gray{
    background-color: #F6F7F8;
}
.bg-white{
    background-color: white;
}
.toggleSearch{
    background-color: #F6F7F8;
    font-size: 0;
}
.toggleSearch>button{
    width: 75px;
    border:none;
    outline: none;
    line-height: 28px;
    background-color: #F6F7F8;
    font-size: 16px;
    text-align: center;
    color:#536a82;
}
.toggleSearch>button.search-btn{
    background-color: #EB5255;
    color:white;
}

.tag-bottom {
    border-bottom: 2px solid rgb(235, 82, 85);
}