.bg-gray {
    background-color: #F6F7F8;
}
.container{
	background-color: white;
}
/*切换按钮*/
.toggleSearch{
	background-color: #F6F7F8;
	font-size: 0;
}
.toggleSearch>button{
	width: 75px;
	border:none;
	outline: none;
	line-height: 28px;
	background-color: #F6F7F8;
	font-size: 16px;
	text-align: center;
	color:#536a82;
}
.toggleSearch>button.search-btn{
	background-color: #EB5255;
	color:white;
}
/*公司搜素*/
div.search-box{
	padding: 16px 20px 16px;
	border-top: 2px solid #EB5255;
	color: #9098a0;
}
.keyWord{
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-right: 22px;
	text-indent: 1em;
	line-height: 200%;
	width: 45%;
}
.mar-12{
	margin:12px 0;
	font-size: 0;
}
.choiceName{
	display: inline-block;
	width: 72px;
  text-align-last:justify;
	color: #2d3e50;
	font-weight: 700;
	font-size: 14px;
}
.mar-12 button,.clear-search,.begin-search{
	border:none;
	outline: none;
	padding: 0 12px;
	margin: 0 5px;
	line-height: 26px;
	background-color:transparent;
	font-size: 14px;
	color: #536a82;
}
button.defaultChoice,button.begin-search{
	background-color: #EB5255;
	color: white;
}
.begin-search:active,.clear-search:active{
	background-color: #4285F4;
}
/*notFind页面*/
.notFind-box{
	padding:14% 0 12%;
	display: flex;
	display: -webkit-flex;
}
.notFind_img-box{
	flex: 1;
	text-align: right;
}
.notFind-info{
	flex: 1;
	padding: 50px 0 0 20px;
}
.search-result{
	font-size: 20px;
	line-height: 150%;
	font-weight: bold;
}
.search-again{
	line-height:150%;
	font-size: 18px;
	color:#536a82;
}
@media screen and (max-width: 767px){
	.notFind-wrap{
		display: block;
		text-align: center;
	}
	.notFind_img-box{
		text-align: center;
	}
}
.recommend-box{
	margin: 0 15px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.recommend-text{
	padding-top:24px;
	font-size: 16px;
}
/*数据展示和翻页*/
div.view{
	border-top:20px solid #F6F7F8;
	border-bottom:20px solid #F6F7F8;
	padding-bottom:50px;
}